# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.log
db.sqlite3
media/
staticfiles/

# Env
.env
.env.*

# Git
.git
.gitignore

# Node (if any)
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Cache/Test
.coverage
pytest_cache/